
.option-nv:hover {
    @apply text-black duration-300;
}

.logo {
    background-image: url('../resources/logo2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}